* {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0;
}

footer {
	position: fixed;
    bottom: 50px;
    width: 100%;
}

footer ul{
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer li{
	list-style-type: none;
	text-decoration: none;
	display: inline;
	margin-right: 20px;
}

footer li a {
	color: #133565;
}

video {
	transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.container {
	border-bottom: 1px solid black;
	height: 76px;
	background-color: #fafafa;
}

/*.container_cams {
	height: 100%;
	display: flex;
	justify-content: center;
}*/

.window_cams {
	margin-right: auto;
	margin-left: auto;
	width: 640px; 
	height:480px;
	margin-top: 100px; 
	border: 2px solid black; 
}

.button {
	width: 644px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
}

.button input {
	display: block;
	position: relative;
	background-color: green;
    cursor: pointer;
    height: 50px;
    border:none;
}

/*--------------------------------------------------------------*/
/*Полоса прокрутки иконок*/
.carousel-container {
	display: flex;
	align-items: center;
	height: 18em;
	width: 640px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
}

.carousel-container-block {
	display: flex;
	flex-direction: column;
}

.foto-wrapper {
	/*position: relative;*/
    display: flex;
    align-items: center;
    width: 8em;
    height: 14em;
    padding: 0 1.5em 0;
}

.foto-carusel {
	/*width: 8em;*/
    cursor: pointer;
}
/*--------------------------------------------------------------*/

/*Скрытие canvas*/
.item {
	display: none;
}