* {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0;
}

body, html {
	height: 100%;
}

/*--------------------------------------------------------------*/
/*Блок футер*/
footer {
	margin: 5em 0em 5em 0em;
	bottom: 50px;
    width: 100%;
}

footer ul{
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer li{
	list-style-type: none;
	text-decoration: none;
	display: inline;
	margin-right: 20px;
}

footer li a {
	color: #133565;
}

/*--------------------------------------------------------------*/
/*Относится к блоку с камерой*/
video {
	transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

/*--------------------------------------------------------------*/
/*Контейнер Header*/
.container {
	border-bottom: 1px solid black;
	height: 76px;
	background-color: #fafafa;
}

/*--------------------------------------------------------------*/
/*Блок с камерой*/
.cams_block {
	display: flex;
	margin-top: 100px;
	justify-content: center;
	height: 480px;
}

.cams-block-end-button {
	width: 640px; 
	height: 480px;
}

.window_cams {
	display: flex;
	position: relative !important;
	width: 640px; 
	height: 480px;
	border: 2px solid black;
}

.abs-pic {
	position: absolute;
	width: 20%;
	height: 30%;
	top: 0;
	left: 0;
}
.abs-pic:hover {
	cursor: move;
}

#gallery_block  {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 2px solid black;
	width: 320px; 
	height:480px;
	margin-left: 15px;
}

/*--------------------------------------------------------------*/
/*"*/
.div_icon {
	border: 1px solid red;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*посмотреть*/
	z-index: 2;
}

/*--------------------------------------------------------------*/
/*Кнопка "сделать фото"*/
.button {
	width: 644px;
	height: 50px;
}

.button input {
	background-color: green;
    cursor: pointer;
    height: 50px;
    margin-top: 5px;
    outline:none;
    border:none;
}

/*--------------------------------------------------------------*/
/*Блок из трех кнопок*/
.button .block-thee-button {
	float: left;
	display: flex;
	justify-content: space-around;
	height: 50px;
	width: 155px;
	margin-top: 5px;
	cursor: pointer;
}

/*--------------------------------------------------------------*/
/*Полоса прокрутки иконок*/
.carousel-container {
	display: flex;
	align-items: center;
	height: 20em;
	width: 990px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 4em;
	margin-right: auto;
	margin-left: auto;
}

.carousel-container-block {
	display: flex;
	flex-direction: column;
}

.foto-wrapper {
    display: flex;
    align-items: center;
    width: 8em;
    height: 14em;
    padding: 0 1.5em 0;
}

.foto-carusel {
	/*width: 8em;*/
    cursor: pointer;
}
/*--------------------------------------------------------------*/

/*Скрытие canvas*/
.item {
	display: none;
}