/*************************************************************/
/*Применяется для всей странице и элементов на ней.*/
* {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0px;
}

body, html {
	background-color: #fafafa;
}

p {
	font-size: 70px;
  	background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #0B2349;
  	font-weight: bold;
  	text-align: center;
}

/*************************************************************/
/*Подвал.*/
footer {
	position: absolute;
	margin-bottom: 10px;
	left: 0;
	bottom: 0;
    width: 100%;
}

footer ul{
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer li{
	list-style-type: none;
	text-decoration: none;
	display: inline;
	margin-right: 20px;
}

footer li a {
	color: #133565;
}

/*************************************************************/
/*Контейнер Header.*/
.container {
	display: flex;
	height: 80px;
	background-color: #ffffff;
}

/*************************************************************/
/*Галерея*/
.gallery {
	width: 100%;
	height: auto;
}

.foto_gallery {
	width: 852px;
	margin: 0 auto;
}

.gallery img {
	width: 200px;
	height: 200px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover {
	filter: grayscale(0);
	transform: 	scale(1.1);
}

/*************************************************************/
/*Кнопка выхода*/
.logout {
	display: flex;
	margin-left: 15px;
	width: 80px;
}

.logout a img {
	cursor: pointer;
	margin-top: 4px;
}

/*************************************************************/
/*Кнопка "Камера"*/
.use_cams {
	margin-left: 25px;
	margin-right: 25px; 	
	width: 6em;
}