* {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	margin: 0px;
}

p {
	font-size: 70px;
  	background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #0B2349;
  	font-weight: bold;
  	text-align: center;
}

input {
	background-color: #5097ea;
	border-radius: 10px;
	outline: none;
	border: 1px solid black;
	text-align: center;
	width: 15em;
}

/*************************************************************/
/*Подвал*/
footer {
	position: absolute;
	margin-top: 20px;
	margin-bottom: 10px;
	left: 0;
	bottom: 0;
    width: 100%;
}

footer ul{
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer li{
	list-style-type: none;
	text-decoration: none;
	display: inline;
	margin-right: 20px;
}

footer li a {
	color: #133565;
}

.container {
	display: flex;
	border-bottom: 1px solid black;
	height: 80px;
	background-color: #ffffff;
}

.gallery {
	display: flex;
	justify-content: space-between;
  	align-items: center;
	width: 100%;
	height: auto;
}

.foto_gallery {
	padding-top: 10px;
	margin: 0 auto;
}

.gallery img {
	width: 30em;
	height: auto;
	padding: 5px;
}

/*************************************************************/
/*Кнопка выхода*/
.logout {
	display: flex;
	margin-left: 15px;
	width: 80px;
}

.logout a img {
	cursor: pointer;
	margin-top: 4px;
}

/*************************************************************/
/*Кнопка "Камера"*/
.use_cams {
	margin-left: 25px;
	margin-right: 25px; 	
	width: 6em;
}

/*************************************************************/
/*Переход на профиль пользователя.*/
.user_profile {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	width: 7em;
	height: auto;
	margin-top: 4px;
}

.icon_user {
	height: auto;
	width: 3em;
}

.icon_user a {
	text-decoration: none;
	text-align: center;
}

.commits_block {
	display: flex;
    flex-direction: column;
    width: 30em;
}

.like-container {
	height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.like-count {
	color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.like-container img {
	width: 35px;
}

.container-box, .add-coment-box {
	display: flex;
    flex-direction: column;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    margin-bottom: 10px;
    padding: 20px;
}
/*--------------------------------------------------------------*/
/*Скрываем id пользователя.*/
.hidden {
	display: none;
}