* {
	width: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
}

h1 {
	text-align: center;
}


form {
	margin-left: auto;
	margin-right: auto; 
	width: 300px;
}

form p {
	margin-top: 5px; 
	text-align: center;
}

input {
	width: 300px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px;
	text-align: center;
	margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 15px; 
}

footer {
	position: fixed;
    bottom: 50px;
    width: 100%;
}

footer ul{
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

footer li{
	list-style-type: none;
	text-decoration: none;
	display: inline;
	margin-right: 20px;
}

footer li a {
	color: #133565;
}

#color_button {
	background-color: #5097ea;
}

#main_foto {
	width: 500px;
	height: 700px;
}

#main_foto img{
	width: 100%;
}

.container {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.login_block {
	width: 400px;
}

.main_form {
	padding: 45px 20px 45px 20px;
	border: 1px solid black;
	width: 400px;
}

.newacc {
	padding: 20px 20px 20px 20px;
	text-align: center;
	margin-top: 0.7em;
	border: 1px solid black;
	width: 400px;
}

/*Слайдер на главном фото*/

#block_for_slider {
	position: relative;
	top: -575px;
	left: 48px;
	width: 265px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#viewport {
	width: 100%;
	display: table;
	position: relative;
	overflow: hidden;
	/*Определяет что пользователь может выбирать в нутри элемента(Apple Safari, Google Chorme).*/
	-webkit-user-select: none;
	/*Определяет что пользователь может выбирать в нутри элемента(Mazila Firefox).*/
	-moz-user-select: none;
	/*Определяет что пользователь может выбирать в нутри элемента(Opera).*/
	-o-user-select: none;
	/*Управляет поведением выделения текста и других элементов на странице.*/
	user-select: none;
}

#slidewrapper {
	position: relative;
	width: calc(100% * 5);
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	/*Анимированный переход(Apple Safari, Google Chorme).*/
	-webkit-transition: 1s;
	/*Анимированный переход(Opera).*/
	-webkit-transition: 1s;
	/*Устанавливает эффект перехода между двумя состояниями элемента.*/
	transition: 1s;
	/*Устанавливает, насколько быстро должно изменяться значение стилевого свойство для которого применяется 
	эффект перехода(Apple Safari, Google Chorme).*/
	-webkit-transition-timing-function: ease-in-out;
	/*Устанавливает, насколько быстро должно изменяться значение стилевого свойство для которого применяется 
	эффект перехода(Opera).*/
	-o-transition-timing-function: ease-in-out;
	/*Устанавливает, насколько быстро должно изменяться значение стилевого свойство для которого применяется 
	эффект перехода.*/
	transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
	margin: 0;
	padding: 0;
}

#slidewrapper li {
	width: calc(100% / 5);
	list-style: none;
	display: inline;
	float: left;
}

.slide-img {
    width: 100%;
}






























